/*  */
/* PAGE LAYOUT */
/*  */
/* Sticking footer to bottom of page (credit to https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/) */
body {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding: 1em;
    /* padding-bottom: 12em; */
}

.section {
    padding-bottom: 1em;
}

.no-space {
    margin: 0;
    padding: 0;
    gap: 0;
}

/*  */
/* FLEXBOX */
/*  */
.box {
    display: flex;
    gap: .7em;
    flex-flow: row wrap;
}

.tight-box {
    display: flex;
    gap: 0;
}

.column {
    flex-direction: column;
}

div.centered {
    align-items: center;
}

.size-box {
    justify-content: center;
    gap: 0;
}

/* Sticking one item to the left and one to the right (source: https://stackoverflow.com/questions/38948102/center-one-and-right-left-align-other-flexbox-element) */
.left-item {
    margin-right:auto;
}

.right-item {
    margin-left:auto;
}

.listing-box {
    flex-grow: 1;
    justify-content: space-evenly;
}

.listing-row {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: .5em; */
}

/*  */
/* NAV BARS */
/*  */
.topnav {

}

.botnav-flexbox {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0em;
}

/* IMAGES */
.img-small {
    width: 7em;
    height: 7em;
}

.img-mini {
    width: 2.5em;
    height: 2.5em;
}

/*  */
/* BUTTONS */
/*  */
.btn {
    border-radius:2em;
}

.btn-light {
    color: white;
    background-color: #ccccff;
}

.btn-select {
    color: white;
    background-color: darkblue;
    border-radius: .25em;
}

.btn-unselect {
    color: black;
    background-color: lightgray;
}

/* Save, post, apply, etc. (bottom right) */
.btn-save {
    color: white;
    background-color: darkblue;
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 1.25rem;
    padding: .5rem 2rem;
}

.signup-btn {
    background-color: #8991DC;
    color: white;
    width: 50%;
    border-radius: 8px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

/*  */
/* TEXT */
/*  */
p.centered {
    text-align: center;
    margin: 0;
}

.char-name {
    margin: 0;
}

.listing-title {
    padding: 0;
    margin: 0;
}

/*  */
/* INPUTS */
/*  */
.size-input {
    width: 4em;
}

.sign-up {
   width: 100%;
   height: 80%; 
   text-align: center;
   padding: 15px;
   margin: 20% auto 0;
   
}

.sign-up h2 {
    margin-bottom: 10px;
    text-align: left;
}

.input-box {
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    background: rgba(218, 218, 218, 0.47);
    outline: none;
    border: none;
}

.check {
    text-align: left;
}

.login-btn {
    background-color: #FFB01F;
}


.login {
    width: 100%;
    height: 80%; 
    text-align: center;
    padding: 15px;
    margin: 20% auto 0;
 }
 .login h2 {
    margin-bottom: 10px;
    text-align: left;
}



button.arrow-btn {
    background-color: #8991DC; /* Green */
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    width: 15%;
  }
  
  .arrow {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    display: center;
    
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    height: 50px;
    padding: 0 20px;
  }
  
  .logo img {
    height: 30px;
  }
  
  .search {
    display: flex;
    align-items: center;
  }
  
  .search input[type="text"] {
    width: 200px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
  }
  
  .search button {
    background-color: #ddd;
    border: none;
    color: #333;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .add {
    font-size: 24px;
  }