/*  */
/* PAGE LAYOUT */
/*  */
/* Sticking footer to bottom of page (credit to https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/) */
body {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding: 1em;
    /* padding-bottom: 12em; */
}

.section {
    padding-bottom: 1em;
}

/*  */
/* FLEXBOX */
/*  */
.box {
    display: flex;
    gap: .7em;
    flex-flow: row wrap;
}

.column {
    flex-direction: column;
}

.size-box {
    justify-content: center;
    gap: 0;
}

/* Sticking one item to the left and one to the right (source: https://stackoverflow.com/questions/38948102/center-one-and-right-left-align-other-flexbox-element) */
.left-item {
    margin-right:auto;
}

.right-item {
    margin-left:auto;
}

.listing-box {
    flex-grow: 1;
    justify-content: space-evenly;
}

.listing-row {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: .5em; */
}

.listing {

}

/*  */
/* NAV BARS */
/*  */
.topnav {

}

.botnav-flexbox {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0em;
}

/* IMAGES */
.img-small {
    width: 7em;
    height: 7em;
}

/*  */
/* BUTTONS */
/*  */
.btn {
    border-radius:2em;
}

.btn-light {
    color: white;
    background-color: #ccccff;
}

.btn-select {
    color: white;
    background-color: darkblue;
    border-radius: .25em;
}

.btn-unselect {
    color: black;
    background-color: lightgray;
}

/* Save, post, apply, etc. (bottom right) */
.btn-save {
    color: white;
    background-color: darkblue;
    position: fixed;
    bottom: 5%;
    right: 5%;
    font-size: 1.25rem;
    padding: .5rem 2rem;
}

/*  */
/* TEXT */
/*  */
.centered {
    text-align: center;
    margin: 0;
}

.char-name {
    margin: 0;
}

/*  */
/* INPUTS */
/*  */
.size-input {
    width: 4em;
}

.sign-up {
   width: 100%;
   height: 80%; 
   text-align: center;
   padding: 15px;
   margin: 20% auto 0;
   
}

.sign-up h2 {
    margin-bottom: 10px;
    text-align: left;
}

.input-box {
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    background: rgba(218, 218, 218, 0.47);
    outline: none;
    border: none;
}

button {
    color: white;
    width: 50%;
    border-radius: 8px;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.signup-btn {
    background-color: #FFB01F;;
}

.check {
    text-align: left;
}

